Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.example
.git
.gitignore
.next
.nyc_output
coverage
.vscode
.idea
*.log
*.tgz
.DS_Store
Thumbs.db
.next/cache
.vercel
dist
build
public/sw.js
public/workbox-*.js
.swc
.turbo